{{ if and (eq .chezmoi.os "linux") .features.gnome -}}
#!/bin/bash

# dconf.ini hash: {{ include "dconf.ini" | sha256sum }}
dconf load / < {{ joinPath .chezmoi.sourceDir "dconf.ini" | quote }}
{{ end -}}