{{ if and (eq .chezmoi.os "linux") (.software.steam) -}}
#!/usr/bin/env fish

set theme_dir "$HOME/.local/share/AdwaitaForSteam"
set color_theme "catppuccin-macchiato"

cd $theme_dir
./install.py --color-theme $color_theme
{{ end -}}