[Appearance]
ColorScheme=Catppuccin-{{ .catppuccin.theme }}
Font=FantasqueSansM Nerd Font Mono,14,-1,5,50,0,0,0,0,0

[General]
Directory=$HOME
Environment=TERM=xterm-256color,COLORTERM=truecolor,MICRO_TRUECOLOR=1
Name=Lily
Parent=FALLBACK/
StartInCurrentSessionDir=true
TerminalMargin=5

[Scrolling]
ScrollBarPosition=2
