# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Sets user-defined palette
palette = "catppuccin_{{ .catppuccinThemeLower }}"

# Prompt
format = """$os$directory$all"""

# Module settings
[fill]
symbol = ' '

[time]
disabled = true

[git_branch]
#format = '[$symbol$branch(:$remote_branch)]($style) '
style = 'bold pink'
symbol = " "
#ignore_branches = ['master', 'main']

[directory]
style = "bold fg:text bg:surface0"

[os]
disabled = false

[os.symbols]
Alpaquita = " "
Alpine = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CentOS = " "
Debian = "[ ](fg:#d70a53)"
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = "[ ](#3c6eb4)"
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Linux = " "
Mabox = " "
Macos = "[ ](fg:#ffffff)"
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Windows = "[󰍲 ](fg:#0078d4)"

# Palette definitions
{{ if eq .catppuccinThemeLower "frappe" }}
{{ includeTemplate ".chezmoitemplates/starship_catppuccin/frappe.toml" }}
{{ else if eq .catppuccinThemeLower "latte" }}
{{ includeTemplate ".chezmoitemplates/starship_catppuccin/latte.toml" }}
{{ else if eq .catppuccinThemeLower "macchiato" }}
{{ includeTemplate ".chezmoitemplates/starship_catppuccin/macchiato.toml" }}
{{ else if eq .catppuccinThemeLower "mocha" }}
{{ includeTemplate ".chezmoitemplates/starship_catppuccin/mocha.toml" }}
{{ end }}