# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Sets user-defined palette
palette = "catppuccin_{{ .catppuccinThemeLower }}"

# Prompt
format = """$directory$fill$git_branch$git_status
$os$character"""

right_format = """$time"""

# Module settings
[fill]
symbol = ' '

[time]
disabled = false
format = '🕙[\[ $time \]]($style)'

[git_branch]
format = '[$symbol$branch(:$remote_branch)]($style) '
style = 'bold pink'
symbol = " "
#ignore_branches = ['master', 'main']

[git_status]
deleted = "󰗨"
ahead = "󰶣"

[directory]
style = "bold teal"

[os]
disabled = false
style = "bold green"

[os.symbols]
Alpaquita = " "
Alpine = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Windows = "󰍲 "

# Palette definitions
{{ if eq .catppuccinThemeLower "frappe" }}
{{ includeTemplate ".chezmoitemplates/starship_catppuccin/frappe.toml" }}
{{ else if eq .catppuccinThemeLower "latte" }}
{{ includeTemplate ".chezmoitemplates/starship_catppuccin/latte.toml" }}
{{ else if eq .catppuccinThemeLower "macchiato" }}
{{ includeTemplate ".chezmoitemplates/starship_catppuccin/macchiato.toml" }}
{{ else if eq .catppuccinThemeLower "mocha" }}
{{ includeTemplate ".chezmoitemplates/starship_catppuccin/mocha.toml" }}
{{ end }}